apache-beam==2.60.0
google-apitools==0.5.31
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-aiplatform==1.71.0
google-cloud-artifact-registry==1.11.5
google-cloud-bigquery==3.26.0
google-cloud-bigquery-connection==1.15.5
google-cloud-bigquery-storage==2.27.0
google-cloud-bigtable==2.26.0
google-cloud-core==2.4.1
google-cloud-datastore==2.20.1
google-cloud-dlp==3.25.0
google-cloud-functions==1.17.0
google-cloud-iam==2.15.2
google-cloud-language==2.14.0
google-cloud-monitoring==2.22.2
google-cloud-pipeline-components==2.17.0
google-cloud-pubsub==2.26.1
google-cloud-pubsublite==1.11.1
google-cloud-recommendations-ai==0.10.13
google-cloud-resource-manager==1.12.5
google-cloud-spanner==3.49.1
google-cloud-storage==2.18.2
google-cloud-videointelligence==2.14.0
google-cloud-vision==3.8.0
kfp==2.7.0
plotly==5.24.1
xgboost==2.1.2
